/* Technical styling */

@font-face {
  font-family: "norseregular";
  src: url("fonts/norse-webfont.woff2") format("woff2"),
    url("fonts/norse-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayregular";
  src: url("fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #cbd5e1;
  overflow: hidden;
}

button {
  user-select: none;
  background: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

#first-player {
  border-right: #020617 1px solid;
}

/* menu-styling */
.main-menu {
  display: grid;
  grid-template-rows: 4fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: #22c55e9d;
  height: 500px;
  width: 700px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 575ms cubic-bezier(0.075, 0.82, 0.265, 1.15);
}

.player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.main-menu.passive,
.gameboard-screen.passive {
  transform: translate(-50%, 100%);
  opacity: 0;
  display: none;
}

.main-menu.active,
.gameboard-screen.active {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.players {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* name section styling */
.name-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
  gap: 0.3rem;
  position: relative;
}
input {
  box-sizing: border-box;
  padding-left: 5px;
  padding-bottom: 2px;
  border-radius: 2rem;
  border: 0;
  background-color: #d1fae5;
  border-bottom: 3px solid #d4d4d4;
  outline: none;
  width: 50%;
  font-family: "ralewayregular", sans-serif;
}

label {
  user-select: none;

  font-family: "norseregular", sans-serif;
  font-weight: bolder;
  box-sizing: border-box;
  pointer-events: none;
  font-size: 1rem;
  position: absolute;
  transition: all 300ms;
  color: #686565;
  top: 15%;
}

.label-focused {
  opacity: 1;
  color: #020617;
  transform: translateY(-110%);
}

.label-filled {
  opacity: 0.65;
  color: #020617;
  transform: translateY(-110%);
}

/*! state selection styling  */

.player-state-selection {
  display: flex;
  flex-direction: column;

  height: 35%;
  width: 90%;
  gap: 1rem;
}

.player-state-title {
  user-select: none;
  text-shadow: 3px 3px 2px rgba(128, 128, 128, 1);
  text-align: center;
  font-weight: bolder;
  font-family: "norseregular", "sans-serif";
}

.state-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.player-state-box {
  width: 100%;
}

.player-state-box > button {
  width: 100%;
  height: 2rem;
  transition: all 300ms ease-in-out;
  font-family: "ralewayregular", monospace;
}

.player-state-box button:hover {
  background-color: rgb(105, 91, 91);
  opacity: 0.9;
  color: white;
}

button.active {
  border: 1px solid red;
  opacity: 1;
  background-color: rgb(92, 92, 92);
}

.panel {
  top: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  gap: 0.1rem;
}

.panel.active {
  transform: scaleY(1);
  opacity: 1;
}

.ai-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.panel > * {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* Gameboard styling */

.gameboard-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  transition: all 675ms;
}

/** Mobile Styling Section */

/* Mobile Styling */
@media (max-width: 768px) {
  .main-menu {
    width: 75vw;
  }
  .name-section {
    margin-left: 5px;
  }
  input {
    width: 85%;
  }
  label {
    left: 11%;
    top: 5%;
  }
  .state-list {
    flex-direction: column;
    gap: 5px;
  }
}
